
* {
    border: solid tomato 1px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 60vh;
    background-color: rgb(94, 158, 255);
}

.container h3 {
    background-color: rgb(243, 79, 175);
    padding: 20px;
    margin: 20px;
}