* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'disc1';
    src: url('../assets/fonts/disc1.woff');
}

@font-face {
    font-family: 'disc2';
    src: url('../assets/fonts/disc2.woff');
}

@font-face {
    font-family: 'disc3';
    src: url('../assets/fonts/disc3.woff');
}

@font-face {
    font-family: 'disc4';
    src: url('../assets/fonts/disc4.woff2');
}

@font-face {
    font-family: 'disc5';
    src: url('../assets/fonts/disc5.woff2');
}